.section {
    padding: 8rem 0;
    text-align: center;
    color: $very-dark-blue;
    max-width: 192rem;
    margin: auto;

    &__copy-container {
        padding: 0 2rem;
    }

    &__heading,
    &__subheading {
        font: {
            weight: 600;
        }

        line-height: 1.2;
    }

    &__paragraph {
        color: $very-dark-grayish-blue;
        margin-top: 2rem;
        line-height: 2;
    }

    &__img-mobile,
    &__subheading {
        margin-top: 5rem;
    }

    &__img-mobile {
        max-width: 55rem;
        margin-left: auto;
        margin-right: auto;

        &--2 {
            max-width: 40rem;

            img {
                margin-top: -18rem;
            }
        }

        &--3 {
            margin-top: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
    }



    &--2 {
        background: $very-dark-gray-blue;
        background-image: -webkit-gradient(linear, left top, left bottom, from($very-dark-gray-blue), to($very-dark-desaturated-blue));
        background-image: linear-gradient($very-dark-gray-blue, $very-dark-desaturated-blue);
        border-radius: 0 12rem 0 12rem;
        padding: 0 0 12rem;
        margin-top: 18rem;
        position: relative;
        max-width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../images/bg-pattern-circles.svg) no-repeat;
            background-size: 50rem auto;
            border-radius: 0 12rem 0 12rem;
            background-position: center -15rem;
            z-index: 0;
            opacity: .75;
        }

    }

    &__heading--alt {
        line-height: 1.3;

        @include breakpoint(23.438em) {
            font-size: 3.2rem;
        }
    }

    &__heading--alt,
    &__paragraph--alt {
        color: $w;
        font-weight: 300;
    }

    @include breakpoint(56.25em) {
        padding: 13rem 0;

        &--1 {
            background: url(../images/illustration-editor-desktop.svg) no-repeat;
            background-position: calc(100vw - 45rem) center;
            background-size: 50rem auto;
        }

        &--2 {
            padding: 0;
            margin: 10rem auto 8rem;
            max-height: 40rem;

            &::before {
                background-size: 80rem auto;
                background-position: calc(50vw - 65rem) bottom;
            }
        }

        &--3 {
            background: url(../images/illustration-laptop-desktop.svg) no-repeat;
            background-position: -20rem center;
            background-size: 70rem auto;
        }

        &__img-mobile {
            display: none;

            &--2 {
                display: block;
                max-width: 100%;
                margin-right: 5rem;

                img {
                    margin-top: -6rem;
                    height: 44rem;
                    max-width: initial;

                    @include ie11 {
                        margin-top: -13.5rem;
                        max-width: inherit;
                    }
                }
            }
        }

        &__content--2 {
            @include d-flex(flex, center, center);
            max-height: 40rem;
        }

        &__content--3 {
            @include d-flex(flex, flex-end, center);
        }

        &__heading {
            font-size: 4rem;
        }

        &__subheading {
            font-size: 3rem;
        }

        &__copy-container {
            text-align: left;
            width: 50%;
            padding-top: 3rem;
        }
    }

    @include breakpoint(80em) {
        &__img-mobile--2 {
            img {
                height: 54rem;
            }
        }
    }

    @include breakpoint(90em) {
        &--1 {
            background-position-x: calc(100vw - 65rem);
            background-size: 65rem auto;
        }

        &--3 {
            background-size: 75rem auto;
        }

        &__heading {
            white-space: nowrap;
        }
    }

    @include breakpoint(120em) {
        &--1 {
            background-position-x: right;
        }

        &--3 {
            background-position-x: 10rem;
        }
    }

}